---
pagination:
  data: entries
  size: 1
  alias: entry
permalink: "{{ entry.escapedPlaceId }}.html"
layout: layout.liquid
---
<main>
  <header>
    {% if entry.place.supplemental -%}
      <h1>Plant-based nudges in {{ entry.place.name }}<br/><span class="supplemental-place-info">{{ entry.place.supplemental }}</span></h1>
    {%- else %}
      <h1>Plant-based nudges in {{ entry.place.name }}</h1>
    {%- endif %}
  </header>
  <ul class="place-details">
    <li>{{ entry.consumer_base }} impacted</li>
  </ul>
  {% if entry.default.size > 0 -%}
    <section>
      <h2>Plant-based default{% if entry.default.size > 1 %}s{% endif %}</h2>
      {% render "nudge-array" array: entry.default %}
    </section>
  {%- endif %}
  {% if entry.ratio.size > 0 -%}
    <section>
      <h2>Climate-friendly ratio{% if entry.ratio.size > 1 %}s{% endif %}</h2>
      {% render "nudge-array" array: entry.ratio %}
    </section>
  {%- endif %}
  {% if entry.sub.size > 0 -%}
    <section>
      <h2>Subtle substitution{% if entry.sub.size > 1 %}s{% endif %}</h2>
      {% render "nudge-array" array: entry.sub %}
    </section>
  {%- endif %}
  {% if entry.titles.size > 0 -%}
    <section>
      <h2>Tasty titles & descriptions</h2>
      {% render "nudge-array" array: entry.titles %}
    </section>
  {%- endif %}
  {% if entry.placement.size > 0 -%}
    <section>
      <h2>Prime placement{% if entry.placement.size > 1 %}s{% endif %}</h2>
      {% render "nudge-array" array: entry.placement %}
    </section>
  {%- endif %}
  {% if entry.other.size > 0 -%}
    <section>
      <h2>Other nudge{% if entry.other.size > 1 %}s{% endif %}</h2>
      {% render "nudge-array" array: entry.other %}
    </section>
  {%- endif %}
</main>
